/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { /* max-width: 1920px; */ line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body { 
    background-color: #faeadd;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 78px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    font-style: italic;
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

h4 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 500%;
    font-weight: normal;
    letter-spacing: 50px;
    margin-top: 10%;
    margin-left: 57%;
    line-height: 1.2;
    transform: rotate(90deg);
    color: #9D5353;
    position: fixed;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 16px;
}

/* Images */
img {
    margin-bottom: 42px;
    /* Drop shadow effect at right bottom of image */
    box-shadow: 8px 10px 8px #888;
    border-radius: 15px;
}

/* === Panel boxes === */
.important-note-box { 
    margin: 54px 0; /*  Only top and bottom margins have values */
    padding: 16px; /* Same value on all four sides. */
    border-style: solid; /* Same value on all four sides. */
    border-width: 1px; /* All four borders have equal widths. */
    border-color: #000; /* All four borders have same black color. */
}

/* Child sub-heading h3 inside panel boxes */
.important-note-box h3 { 
    font-family: 'Montserrat', sans-serif; /* Overrules h3 font-family value outside panel box. */
    font-size: 20px; /* Overrules h3 font-size value outside panel box. */
    margin-top: 0; /*  Overrules h3 margin-top value outside panel box. */
    margin-bottom: 2px; /*  Overrules h3 margin-bottom value outside panel box. */
    letter-spacing: 1px; /* New - just for h3 headings in panel boxes. */
    text-transform: uppercase; /* New - just for h3 headings in panel boxes. */
}

/* Child paragraph p inside panel boxes */
.important-note-box p { 
    font-size: 18px; /* Overrules p font-size valueoutside panel box. */
    line-height: 1.5; /* Overrules p line-height value outside panel box. */
    margin-bottom: 0; /* Overrules p margin-bottom value outside panel box. */
}

 /* Panel box style 4 */
 .important-note-box.github-page { 
    padding: 22px; /* Extra padding at edges to make reversed text (light-on-dark) more readable */
    border-radius: 10px;
    border-color: #e9bab3;
    background-color: #e9bab3; /* Add rounded effect to all four corners */ 
 }
 
 .important-note-box.github-page h3 { color: #9D5353 }
 .important-note-box.github-page p  { color: #fff }


/* Animations */

.slide-in-top {
	-webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-24 11:14:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  .text-focus-in {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-24 13:59:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  /* Passive link styles */               
a:link, a:visited {
    color: #000;
    border-bottom: solid 2px #000;
    text-decoration: none;
    padding-bottom: 2px;
} 
                                      
/* Interactive link styles */              
a:hover, a:focus, a:active {
  text-decoration: none;
  padding-bottom: 2px;
  color: #fff;
  border-bottom: solid 2px #fff;
}